body{
    font-family: sans-serif;
}
.contenedor{
    display: flex;
    flex-direction: column;
    align-items: center;
}
img{
    height: 270px;
}
a{
    text-decoration: none;
    font-family: sans-serif;
    color: #a34b28;
}
a:hover{
    color: #e78463;
}
header{
    display: flex;
    background-color:  #f4f1eb;
    align-items: center;
    padding-left: 20px;
}
header img{
    height: 60px;
    width: 20%;
}
nav{
    background-color: #f4f1eb;
    text-align: center;
    font-size: large;
    margin: 8px;
    word-spacing: 30px;
    display: flex;
    margin-left: 170px;
}
nav a{
    padding: 20px;
}
.envio{
    display: flex;
    justify-content: center;
    background-color: bisque;
    margin-bottom: 8px;
}
.envio p{
    height: 10px;
}
.contenedor{
    border: 1px solid #3a2923;
    border-radius: 15px;
    padding: 5px;
    background-color: bisque;
}
h1{
    text-align: center;
}